@using PatientDataAdministration.Data
@using PatientDataAdministration.Core
@model Patient_PatientInformation

@{
    ViewBag.Title = "Patient Data";
    ViewBag.TitleDesc = "Summary Information for " + Model.PepId;
    Layout = "~/Views/Shared/_LayoutSecure.cshtml";

    var pdaEntities = new Entities();
    var site = pdaEntities.Administration_SiteInformation.FirstOrDefault(x => x.Id == Model.SiteId);
    var siteId = site?.StateId ?? 0;
    var siteState = pdaEntities.System_State.FirstOrDefault(x => x.Id == siteId);

    var bioData = pdaEntities.Patient_PatientBiometricData.FirstOrDefault(x => x.PepId == Model.PepId);
    var nfcData = pdaEntities.Patient_PatientNearFieldCommunicationData.FirstOrDefault(x => x.PepId == Model.PepId);

    var appointmentPharm = pdaEntities.Integration_AppointmentDataItem
        .Where(x => !x.IsDeleted && x.PepId == Model.PepId && x.AppointmentOffice == "P")
        .OrderByDescending(x => x.DateAppointment)
        .Take(5).ToList();

    var appointmentClinic = pdaEntities.Integration_AppointmentDataItem
        .Where(x => !x.IsDeleted && x.PepId == Model.PepId && x.AppointmentOffice == "C")
        .OrderByDescending(x => x.DateAppointment)
        .Take(5).ToList();

    var appointmentLab = pdaEntities.Integration_AppointmentDataItem
        .Where(x => !x.IsDeleted && x.PepId == Model.PepId && x.AppointmentOffice == "L")
        .OrderByDescending(x => x.DateAppointment)
        .Take(5).ToList();
}

<div class="profile-container">
    <div class="profile-section">
        <div class="profile-info">
            <div class="table-responsive">
                <table class="table table-profile">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <h4>
                                    @Model.Surname @Model.Othername
                                    <small><i class="fa fa-genderless"></i>&nbsp;@Model.Sex&nbsp;|&nbsp;<i class="fa fa-phone"></i>&nbsp;@Model.PhoneNumber&nbsp;|&nbsp;<i class="fa fa-home"></i>&nbsp;@Model.HouseAddress</small>
                                </h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="divider">
                            <td colspan="2"></td>
                        </tr>
                        <tr class="highlight">
                            <td class="field">Site&nbsp;<i class="fa fa-building"></i></td>
                            <td><span>@(site?.SiteNameOfficial), @(siteState?.StateName)</span></td>
                        </tr>
                        <tr class="divider">
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="field">Born&nbsp;<i class="fa fa-birthday-cake"></i></td>
                            <td><span>@(Model.DateOfBirth?.ToLongDateString() ?? ""), @((DateTime.Now.Subtract(Model.DateOfBirth?.Date ?? DateTime.Now.Date).TotalDays / 365).ToString("0")) years old today</span></td>
                        </tr>
                        <tr>
                            <td class="field">Previous Id&nbsp;<i class="fa fa-clipboard"></i></td>
                            <td><span>@Model.PreviousId</span></td>
                        </tr>
                        <tr>
                            <td class="field" style="width: 150px !important">Hospital Number&nbsp;<i class="fa fa-hospital-o"></i></td>
                            <td><a href="#">@Model.HospitalNumber</a></td>
                        </tr>
                        <tr class="divider">
                            <td colspan="2"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="profile-section">
        <ul class="nav nav-tabs nav-tabs-inverse nav-justified nav-justified-mobile" data-sortable-id="index-2">
            <li class="active">
                <a href="#regId" data-toggle="tab">
                    <i class="fa fa-picture-o m-r-5"></i>
                    <span class="hidden-xs">Registered Identities</span>
                </a>
            </li>
            <li class="">
                <a href="#clinicVisit" data-toggle="tab">
                    <i class="fa fa-hospital-o m-r-5"></i> <span class="hidden-xs">Last 5 Visits</span>
                </a>
            </li>
            <li class="">
                <a href="#pharmVisit" data-toggle="tab">
                    <i class="fa fa-heartbeat m-r-5"></i> <span class="hidden-xs">Last 5 Dispensations</span>
                </a>
            </li>
            <li class="">
                <a href="#labVisit" data-toggle="tab">
                    <i class="fa fa-flask m-r-5"></i> <span class="hidden-xs">Last 5 Lab Tests</span>
                </a>
            </li>
        </ul>
        <div class="tab-content" data-sortable-id="index-3">
            <div class="tab-pane fade active in" id="regId">
                <div class="height-md" data-scrollbar="true">
                    <div class="col-md-12 ui-sortable">
                        <div class="panel panel-inverse" data-sortable-id="ui-widget-16">
                            <div class="panel-heading">
                                <div class="panel-heading-btn">
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                </div>
                                <h4 class="panel-title">Fingerprint Data</h4>
                            </div>
                            <div class="panel-body bg-black">
                                @if (bioData == null)
                                {
                                    <p class="text text-danger">No Biometric Data has been Captured</p>
                                }
                                else
                                {
                                    if (string.IsNullOrEmpty(bioData.FingerDataHash))
                                    {
                                        bioData.FingerDataHash = Sha512Engine.GenerateSHA512String(bioData.FingerPrimary + "|" + bioData.FingerSecondary);
                                        pdaEntities.Entry(bioData).State = System.Data.Entity.EntityState.Modified;
                                        pdaEntities.SaveChanges();
                                    }

                                    var pdf512Code = bioData.FingerPrimary + "|" + bioData.FingerDataHash;

                                    <div class="col-md-6 col-xs-12">
                                        <img src="/assets/img/pda/icons8_Fingerprint_Scan_96px.png" alt="" />
                                        <h5 class="text text-success">Biometric Data has been Captured</h5>
                                        <p>@bioData.DateRegistered.ToLongDateString() @bioData.DateRegistered.ToLongTimeString()</p>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <h5 class="text text-white pull-right"><i class="fa fa-lock"></i>&nbsp;Patient Identity Barcode: <span class="text text-success">@bioData.FingerDataHash.Substring(0, 10).ToUpper()</span></h5>
                                        <img alt="@Model.PepId" class="pull-right" style="max-width:100%" src="data:image/png;base64,@BarCodeRender.GeneratePdf417BarCode(pdf512Code)" />
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="panel panel-inverse" data-sortable-id="ui-widget-16">
                            <div class="panel-heading">
                                <div class="panel-heading-btn">
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                </div>
                                <h4 class="panel-title">Near Field Communication Data</h4>
                            </div>
                            <div class="panel-body bg-black">
                                @if (nfcData == null)
                                {
                                    <p class="text text-danger">No NFC Data has been Captured. eCard not yet Issued</p>
                                }
                                else
                                {
                                    <div class="col-md-6 col-xs-12">
                                        <img src="~/assets/img/pda/icons8_NFC_96px.png" alt="" />
                                        <h5 class="text text-success">NFC Data has been Captured</h5>
                                        <p>@nfcData.DateRegistered.ToLongDateString() @nfcData.DateRegistered.ToLongTimeString()</p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="clinicVisit">
                <div class="height-sm" data-scrollbar="true">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date Last Visit</th>
                                <th>Date Next Visit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var visit in appointmentClinic)
                            {
                                <tr>
                                    <td>@visit.DateVisit.ToLongDateString()</td>
                                    <td>@visit.DateAppointment.ToLongDateString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="pharmVisit">
                <div class="height-sm" data-scrollbar="true">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Date Last Visit</th>
                            <th>Date Next Visit</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var visit in appointmentPharm)
                        {
                            <tr>
                                <td>@visit.DateVisit.ToLongDateString()</td>
                                <td>@visit.DateAppointment.ToLongDateString()</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="labVisit">
                <div class="height-sm" data-scrollbar="true">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Date Last Visit</th>
                            <th>Date Next Visit</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var visit in appointmentLab)
                        {
                            <tr>
                                <td>@visit.DateVisit.ToLongDateString()</td>
                                <td>@visit.DateAppointment.ToLongDateString()</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

        });

        pdaWeb.controller('pdaWebCtrlr',
            function ($scope) {

            });
    </script>
}
