@using PatientDataAdministration.Data
@model Patient_PatientInformation

@{
    ViewBag.Title = "Patient Data";
    ViewBag.TitleDesc = "Summary Information for " + Model.PepId;
    Layout = "~/Views/Shared/_LayoutSecure.cshtml";

    var pdaEntities = new Entities();
    var site = pdaEntities.Administration_SiteInformation.FirstOrDefault(x => x.Id == Model.SiteId);
    var siteId = site?.StateId ?? 0;
    var siteState = pdaEntities.System_State.FirstOrDefault(x => x.Id == siteId);

    var bioData = pdaEntities.Patient_PatientBiometricData.FirstOrDefault(x => x.PepId == Model.PepId);
    var nfcData = pdaEntities.Patient_PatientNearFieldCommunicationData.FirstOrDefault(x => x.PepId == Model.PepId);
}

<div class="profile-container">
    <div class="profile-section">
        <div class="profile-info">
            <div class="table-responsive">
                <table class="table table-profile">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <h4>
                                    @Model.Surname @Model.Othername
                                    <small><i class="fa fa-genderless"></i>&nbsp;@Model.Sex&nbsp;|&nbsp;<i class="fa fa-phone"></i>&nbsp;@Model.PhoneNumber&nbsp;|&nbsp;<i class="fa fa-home"></i>&nbsp;@Model.HouseAddress</small>
                                </h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="divider">
                            <td colspan="2"></td>
                        </tr>
                        <tr class="highlight">
                            <td class="field">Site&nbsp;<i class="fa fa-building"></i></td>
                            <td><span>@(site?.SiteNameOfficial), @(siteState?.StateName)</span></td>
                        </tr>
                        <tr class="divider">
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="field">Born&nbsp;<i class="fa fa-birthday-cake"></i></td>
                            <td><span>@Model.DateOfBirth.ToLongDateString(), @((DateTime.Now.Subtract(Model.DateOfBirth).TotalDays / 365).ToString("0")) years old today</span></td>
                        </tr>
                        <tr>
                            <td class="field">Previous Id&nbsp;<i class="fa fa-clipboard"></i></td>
                            <td><span>@Model.PreviousId</span></td>
                        </tr>
                        <tr>
                            <td class="field" style="width: 150px !important">Hospital Number&nbsp;<i class="fa fa-hospital-o"></i></td>
                            <td><a href="#">@Model.HospitalNumber</a></td>
                        </tr>
                        <tr class="divider">
                            <td colspan="2"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="profile-section">
        <ul class="nav nav-tabs nav-tabs-inverse nav-justified nav-justified-mobile" data-sortable-id="index-2">
            <li class="active">
                <a href="#latest-post" data-toggle="tab">
                    <i class="fa fa-picture-o m-r-5"></i>
                    <span class="hidden-xs">Registered Identities</span>
                </a>
            </li>
            <li class="">
                <a href="#purchase" data-toggle="tab">
                    <i class="fa fa-hospital-o m-r-5"></i> <span class="hidden-xs">Last 5 Visits</span>
                </a>
            </li>
            <li class="">
                <a href="#email" data-toggle="tab">
                    <i class="fa fa-ambulance m-r-5"></i> <span class="hidden-xs">Last 5 Dispensations</span>
                </a>
            </li>
        </ul>
        <div class="tab-content" data-sortable-id="index-3">
            <div class="tab-pane fade active in" id="latest-post">
                <div class="height-sm" data-scrollbar="true">
                    <ul class="media-list media-list-with-divider">
                        <li class="media media-lg">
                            <a href="javascript:;" class="pull-left">
                                <img src="/assets/img/pda/icons8_Fingerprint_Scan_96px.png" alt="" />
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    Fingerprint Data
                                </h4>
                                @{
                                    if (bioData != null)
                                    {
                                        <h5 class="text-success">Biometric Data has been Captured</h5>
                                        <span>@bioData.DateRegistered.ToLongDateString() @bioData.DateRegistered.ToLongTimeString()</span>
                                    }
                                    else
                                    {
                                        <h5 class="text-danger">No Biometric Data has been Captured</h5>
                                    }
                                }
                            </div>
                        </li>
                        <li class="media media-lg">
                            <a href="javascript:;" class="pull-left">
                                <img src="/assets/img/pda/icons8_NFC_96px.png" alt="" />
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    NFC Tag Assignment
                                </h4>
                                @{
                                    if (nfcData != null)
                                    {
                                        <h5 class="text-success">No NFC Data has been Captured</h5>
                                        <span>@nfcData.DateRegistered.ToLongDateString() @nfcData.DateRegistered.ToLongTimeString()</span>
                                    }
                                    else
                                    {
                                        <h5 class="text-danger">No NFC Data Card has been Assigned</h5>
                                    }
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="purchase">
                <div class="height-sm" data-scrollbar="true">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th class="hidden-sm">Reason for Visit</th>
                                <th>Remarks</th>
                                <th>Attended By</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="email">
                <div class="height-sm" data-scrollbar="true">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th class="hidden-sm">Prescription</th>
                                <th>Quantity</th>
                                <th>Attended By</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {

        });

        pdaWeb.controller('pdaWebCtrlr',
            function($scope) {

            });
    </script>
}
