
@{
    ViewBag.Title = "Dashboard";
    ViewBag.TitleDesc = "APIN PDA at a glance";
    Layout = "~/Views/Shared/_LayoutSecure.cshtml";
}

@section styles{
    <link href="/Assets/plugins/country/nigeria/jsmaps/jsmaps.css" rel="stylesheet" type="text/css"/>
    <style>
        .treeChart {
            max-width: 100%;
            overflow: auto;
        }

        text {
            pointer-events: none;
        }

        .grandparent text {
            font-weight: bold;
        }

        rect {
            stroke: #fff;
            stroke-width: 1px;
        }

        rect.parent,
        .grandparent rect {
            stroke-width: 3px;
        }

        .grandparent:hover rect {
            fill: grey;
        }

        .children rect.parent,
        .grandparent rect {
            cursor: pointer;
        }

        .children rect.child {
            opacity: 0;
        }

        .children rect.parent {
        }

        .children:hover rect.child {
            opacity: 0.9;
            stroke-width: 1px;
        }

        .children:hover rect.parent {
            opacity: 0.5;
        }

        .legend {
            margin-bottom: 8px !important;
        }

        .legend rect {
            stroke-width: 0px;
        }

        .legend text {
            text-anchor: middle;
            pointer-events: auto;
            font-size: 14px;
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
            fill: black;
        }

        .form-group {
            text-align: left;
        }

        .textdiv {
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
            font-size: 14px;
            padding: 5px;
            cursor: pointer;
            overflow: auto;
        }

        .textdiv .title {
            font-size: 102%;
            font-weight: bold;
            margin-top: 8px;
            font-size: 14px !important;
            font-weight: 100;
            line-height: 18px;
        }

        .textdiv p {
            line-height: 12px;
            margin: 0 0 4px !important;
            padding: 0px;
            font-size: 10px !important;
            font-weight: 100;
            color: #ffffff !important;
        }

        .gritter {
            font-weight: 100 !important;
            color: #fff
        }
    </style>
}

<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-black-darker">
            <div class="stats-icon"><i class="fa fa-user-md"></i></div>
            <div class="stats-info">
                <h4>TOTAL PATIENTS</h4>
                <p id="totalPatents_p">00</p>
            </div>
            <div class="stats-link">
                <a href="@Url.Action("PatientOverview", "PatientManagement", new {area = ""})">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-orange-darker">
            <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
            <div class="stats-info">
                <h4>NEW / RETURNING PATIENTS 7 DAYS AGO</h4>
                <p id="seenPastWeek_p">00</p>
            </div>
            <div class="stats-link">
                <a>Total Activity a Week Ago <i class="fa fa-info"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-blue-darker">
            <div class="stats-icon"><i class="fa fa-edit"></i></div>
            <div class="stats-info">
                <h4>NEW / RETURNING PATIENTS TODAY</h4>
                <p id="registeredToday_p">00</p>
            </div>
            <div class="stats-link">
                <a>Total Activity Today <i class="fa fa-info"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-green-darker">
            <div class="stats-icon"><i class="fa fa-shield"></i></div>
            <div class="stats-info">
                <h4>PATIENTS FULLY REGISTERED</h4>
                <p id="fullyRegistered_p">00</p>
            </div>
            <div class="stats-link">
                <a>Patients have both Biometric Profiles and eCard <i class="fa fa-info"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 ui-sortable">
        <div class="panel panel-inverse" data-sortable-id="ui-buttons-5">
            <div class="panel-heading bg-blue-darker">
                <div class="panel-heading-btn">
                    Click here to Open / Close&nbsp;
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-info"
                       data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title">Secondary Bio-Data Processing Summary&nbsp;</h4>
            </div>
            <div class="panel-body bg-black" style="display: block">
                @RenderPage("~/Views/Home/SecondaryBioDataItems/Overview.cshtml")
            </div>
            <div class="panel-footer bg-blue-darker">
                <a class="text text-white" href="@Url.Action("SecondaryBioData", "Home", new {area = ""})"><i class="fa fa-database"></i>&nbsp;Click Here to View Full Data</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 ui-sortable">
        <div class="panel panel-inverse" data-sortable-id="ui-buttons-5">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    Click here to Open / Close&nbsp;
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-info"
                       data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title">Quick Facts by Dates:&nbsp;<span id="spanSelectedDate">Today</span><span id="spanLoading" class="text-center text-warning">&nbsp;Loading ...</span></h4>
            </div>
            <div class="panel-body bg-black" style="display: none">
                <div class="col-md-3 col-xs-12">
                    <div id="datepicker-inline" class="datepicker-full-width">
                        <div></div>
                    </div>
                </div>
                <div class="col-md-9 col-xs-12">
                    <div class="col-md-4 col-xs-12">
                        <div class="widget widget-stats bg-black-darker">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-users fa-fw"></i></div>
                            <div class="stats-title">All Patients</div>
                            <div class="stats-number" id="span_total_today">0</div>
                            <div class="stats-progress progress">
                                <div class="progress-bar" style="width: 100%;"></div>
                            </div>
                            <div class="stats-desc">Females: <span id="span_total_female_today">0</span> | Males: <span id="span_total_male_today">0</span></div>
                        </div>
                        <div class="widget widget-stats bg-blue-darker">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-bar-chart fa-fw"></i></div>
                            <div class="stats-title">Against Yesterday</div>
                            <div class="stats-number" id="span_percentage_difference">
                                0%
                            </div>
                            <div class="stats-progress progress">
                                <div class="progress-bar" style="width: 100%;"></div>
                            </div>
                            <div class="stats-desc">
                                <span id="indi_up"><i class="fa fa-chevron-up text-success"></i>&nbsp;Increase in Reported Cases</span>
                                <span id="indi_down"><i class="fa fa-chevron-down text-danger"></i>&nbsp;Decrease in Reported Cases</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <h4 style="color: #ffffff; font-weight: 100">Top Registrations in Nigeria</h4>
                        <div id="prgDiv">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 ui-sortable">
        <div class="panel panel-inverse" data-sortable-id="ui-buttons-5">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-info"
                       data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title">Population Distribution</h4>
            </div>
            <div class="panel-body bg-black">
                <div class="col-md-12">
                    <div class="widget-chart bg-black">
                        <h4 class="chart-title">
                            Population by Locale
                            <small>Registration Distribution by Location in Sites par State</small>
                        </h4>
                        <div class="m-t-20">
                            <div id="treeChart" class="treeChart">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="widget-chart with-sidebar bg-black-lighter">
                        <div class="widget-chart-content">
                            <h4 class="chart-title">
                                Population by Date of Birth
                                <small>Registration Distribution by Age Group<span id="dob_error_span" class="text text-warning pull-right animated pulse"></span></small>
                            </h4>
                            <div id="patient-age-distro" class="morris-inverse" style="height: 260px;">
                                <h4 class="alert alert-success">
                                    <small>Processing data and analytics at the moment. Please wait</small>
                                </h4>
                            </div>
                        </div>
                        <div class="widget-chart-sidebar bg-black-darker">
                            <div class="chart-number">
                                <span id="most_polulated_ag_span">00</span>
                                <small>Most Populated Age Group: <strong id="most_polulated_ag_info_span"></strong></small>
                            </div>
                            <div class="chart-number">
                                <span id="least_polulated_ag_span">00</span>
                                <small>Least Populated Age Group: <strong id="least_polulated_ag_info_span"></strong></small>
                            </div>
                            <div id="sex-distro-donut-chart" style="height: 160px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel">
                        <div class="panel-body bg-black-darker">
                            <div class="widget-chart">
                                <h4 class="chart-title" style="color: #ffffff !important">
                                    Quick Facts
                                    <small>Biometric Registration Distribution</small>
                                </h4>
                                <div class="widget widget-stats bg-red-darker">
                                    <div class="stats-icon"><i class="fa fa-shield"></i></div>
                                    <div class="stats-info">
                                        <h4>Registered Bio-Data</h4>
                                        <p><span id="nation_reg_bio_span">00</span></p>
                                    </div>
                                </div>
                                <div class="widget widget-stats bg-orange-darker">
                                    <div class="stats-icon"><i class="fa fa-tag"></i></div>
                                    <div class="stats-info">
                                        <h4>Newly Registered Patients with Biometric Data</h4>
                                        <p><span id="nation_reg_bio_new_span">00</span></p>
                                        <h4>Returning Patients having Biometric Data</h4>
                                        <p><span id="nation_reg_bio_upd_span">00</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-inverse" data-sortable-id="index-1">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-info"
                       data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title">
                    Patient Statistics By State<span id="spanLoading2" class="text-center text-warning">&nbsp;Loading ...</span>
                </h4>
            </div>
            <div class="panel-body bg-black">
                <div class="widget-chart bg-black p-t-20">
                    <div class="col-md-4">
                        <div id="visitors-map" class="bg-black">
                            <div class="jsmaps-wrapper" id="nigeria-map" style="height: 175px; width: 175px; padding: 2px">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="widget-chart with-sidebar bg-black">
                            <div class="widget-chart-content">
                                <h3 class="chart-title">
                                    State Name:
                                    <span id="selected_state_name_span"></span>
                                    <small>
                                        All Registered Sites:&nbsp;<strong><span id="state_sites_span">00</span></strong> and
                                        All Registered Patients:&nbsp;<strong><span id="total_patients_span">00</span></strong>
                                    </small>
                                    <small>
                                        Average Patient/Site:&nbsp;<strong><span id="average_patient_span">00</span></strong>
                                    </small>
                                </h3>
                                <hr />
                                <h4 class="chart-title">
                                    Patient Visit Trend
                                    <small>New and Returning for Past 30 Days</small>
                                </h4>
                                <div id="patient-reg-distro" class="morris-inverse" style="height: 200px;">
                                    <h4 class="alert alert-info">
                                        <small>Select a State to Load Data</small>
                                    </h4>
                                </div>
                            </div>
                            <div class="widget-chart-sidebar bg-black-darker">
                                <h4 class="chart-title">
                                    Quick Facts
                                    <small>Biometric Registration Distribution</small>
                                </h4>
                                <div class="col-md-12">
                                    <div class="widget widget-stats bg-red-darker">
                                        <div class="stats-icon"><i class="fa fa-shield"></i></div>
                                        <div class="stats-info">
                                            <h4>Registered Bio-Data</h4>
                                            <p><span id="state_reg_bio_span">00</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="widget widget-stats bg-orange-darker">
                                        <div class="stats-icon"><i class="fa fa-tag"></i></div>
                                        <div class="stats-info">
                                            <h4>New Patients</h4>
                                            <p><span id="state_reg_bio_new_span">00</span></p>
                                            <h4>Returning Patients</h4>
                                            <p><span id="state_reg_bio_upd_span">00</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="/Assets/plugins/country/nigeria/jsmaps/jsmaps-libs.js" type="text/javascript"></script>
    <script src="/Assets/plugins/country/nigeria/jsmaps/jsmaps-panzoom.js"></script>
    <script src="/Assets/plugins/country/nigeria/jsmaps/jsmaps.js" type="text/javascript"></script>
    <script src="/Assets/plugins/country/nigeria/maps/nigeria.js" type="text/javascript"></script>

    <script src="/Assets/plugins/d3/d3.v4.js" type="text/javascript"></script>
    <script src="/Assets/plugins/d3/d3-procesor.js" type="text/javascript"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#spanLoading2').hide();
            window.swalInfo('Loading Data and Analytics ...');

            $('#nigeria-map').JSMaps({
                map: 'nigeria',
                disableToolTip: true,
                onStateClick: stateClick
            });

            $("#datepicker-inline").datepicker({
                todayHighlight: true,
                endDate: "@DateTime.Now.ToString("MM/dd/yyyy")"
            }).on('changeDate',
                function (ev) {
                    $('#spanSelectedDate').text($('#datepicker-inline').data('datepicker').getFormattedDate('mm/dd/yyyy'));
                    $('#spanLoading').show();
                    var date = $('#datepicker-inline').data('datepicker').getFormattedDate('mm/dd/yyyy');
                    loadPatientStatsByDateApi(date);
                    iniTileLoad();
                });

            // after all initialization load page
            pageLoad();
        });

        function loadPatientStatsByDateApi(date) {
             window.api("GET",
                        "@Url.Action("PatientStatsByDate", "Indicators", new {area = "ServerCommunication"})?date=" + date,
                        null,
                        true,
                loadPatientStatsByDate);
        }

        function loadPatientStatsByDate(data) {
            $('#span_total_today').text(data.TotalPatients.format());
            $('#span_total_male_today').text(data.MalePatients.format());
            $('#span_total_female_today').text(data.FemalePatients.format());
            $('#span_percentage_difference').text(data.ChangeOverYesterday.format() + "%");

            if (data.ChangeOverYesterday > 0) {
                $('#indi_up').show();
                $('#indi_down').hide();
            } else {
                $('#indi_up').hide();
                $('#indi_down').show();
            }

            var progressData = "";
            if (data.TotalPatients === 0) {
                $('#prgDiv').html("<h3 class='text-warning'><i class='fa fa-warning'></i>&nbsp;No Data for this Date<br /><small>Please select another date</small></h3>");
                $('#spanLoading').hide();
                return;
            }

            $.each(data.HighSitesInfo,
                function (i, datum) {
                    var rowData =
                        "<h3 class='text-info'>" + datum.State.StateName + "<br /><small>" + datum.Metric.Site.SiteNameOfficial + "</small></h3>";
                    rowData += '<div class="progress progress-striped active">';
                    rowData += "<div class=\"progress-bar progress-bar-danger\" style=\"width: " +
                        datum.Metric.PercentOverGlobal.format() +
                        "%\">" +
                        datum.Metric.SiteMetric.Count.format() +
                        "</div>";
                    rowData += "</div>";

                    progressData += rowData;
                });

            $('#prgDiv').html(progressData);
            $('#spanLoading').hide();
        };

        function stateClick(data) {
            $('#spanLoading2').show();

            window.api("GET",
                "@Url.Action("StateStatsByStateAbb", "Indicators", new {area = "ServerCommunication"})?abbreviation=" + data.abbreviation,
                null,
                true,
                loadStateData);
        }

        function loadStateData(data) {
            $('#selected_state_name_span').text(data.State.StateName);
            $('#total_patients_span').text(data.PatientsInState.format());
            $('#state_sites_span').text(data.SitesInState.format());
            $('#average_patient_span').text(data.Average.format(2));

            $('#state_reg_bio_span').text(data.CollectedBioData.format());
            $('#state_reg_bio_new_span').text(data.NewBio.format());
            $('#state_reg_bio_upd_span').text(data.UpdatedBio.format());

            $('#patient-reg-distro').html("");

            lineChartTwoToOne("patient-reg-distro",
                data.Distro,
                "Patient's Seen",
                function (index, options, content) {
                    var datum = options.data[index];
                    content =
                        "<div class='morris-hover-row-label'>Date " +
                        datum.x +
                        " </div><div class='morris-hover-point' style='color: #ddd'>";
                    content += "Number of Patients:";
                    content += "" + datum.y.format() + "";
                    content += "</div >";
                    return (content);
                });

            $('#spanLoading2').hide();
            iniTileLoad();
        };

        function pageLoad() {
            iniTileLoad();
            iniDateLoad();
            iniTreeLoad();

            secondaryBioDataStatsRequest();

            $('#indi_up').hide();
            $('#indi_down').hide();
        };

        function iniDateLoad() {
            var date = '@DateTime.Now.Date.ToString("mm/dd/yyyy")';
            loadPatientStatsByDateApi(date);
        }

        function iniTileLoad() {
            window.api("GET",
                "@Url.Action("PatientStats", "Indicators", new {area = "ServerCommunication"})",
                null,
                true,
                loadTiles);
        }

        function loadTiles(data) {
            $('#totalPatents_p').text(data.TotalPatients.format());
            $('#seenPastWeek_p').text(data.RegisteredRecently.format() + " / " + data.UpdatedRecently.format());
            $('#registeredToday_p').text(data.RegisteredToday.format() + " / " + data.UpdatedToday.format());
            $('#fullyRegistered_p').text(data.Complied.format());

            $('#nation_reg_bio_span').text(data.QuickFacts.RegBioCount.format() + " as " + data.QuickFacts.RegBioPercent.format(2) + "%");
            $('#nation_reg_bio_new_span').text(data.QuickFacts.NewBio.format());
            $('#nation_reg_bio_upd_span').text(data.QuickFacts.UpdatedBio.format());

            window.api("GET",
                "@Url.Action("GetAgeDistro", "Indicators", new {area = "ServerCommunication"})",
                null,
                true,
                loadPatientDistro);
        };

        function loadPatientDistro(data) {
            $('#patient-age-distro').html("");

            lineChartOneToOne("patient-age-distro",
                data.Distro,
                "Patient's in Group",
                function(index, options, content) {
                    var datum = options.data[index];
                    content =
                        "<div class='morris-hover-row-label'>Age Group " +
                        datum.x +
                        " years</div><div class='morris-hover-point' style='color: #ddd'>";
                    content += "Number of Patients:";
                    content += "" + datum.y.format() + "";
                    content += "</div >";
                    return (content);
                });

            $('#most_polulated_ag_info_span').text(data.Max.x);
            $('#most_polulated_ag_span').text(data.Max.y.format());
            $('#least_polulated_ag_info_span').text(data.Min.x);
            $('#least_polulated_ag_span').text(data.Min.y.format());

            donutChart("sex-distro-donut-chart", data.SexDistro);

            if (data.BadDate !== 0) {
                $('#dob_error_span').show();
                $('#dob_error_span').text(data.BadDate.format() + " Bad Date of Birth Records");
            } else {
                $('#dob_error_span').hide();
            }
        };

        function iniTreeLoad() {
            initializeTree("@Url.Action("GetSiteDistro", "Indicators", new {area = "ServerCommunication"})", "treeChart", loadTile);
        }

        function loadTile(data) {
            if (data.level === "State") {
                window.api("GET",
                    "@Url.Action("GetSiteDistroForState", "Indicators", new {area = "ServerCommunication"})?stateAbbreviation=" +
                    data.description.StateAbbreviation,
                    null,
                    false,
                    displayData);
            }
            else if (data.level === "Site") {
                window.api("GET",
                    "@Url.Action("GetSiteDistroForSite", "Indicators", new {area = "ServerCommunication"})?siteId=" + data.site.Id,
                    null,
                    false,
                    displayData);
            }
        }

        function displayData(data) {
            if (data.SiteId === 0)
                return $.gritter.add({
                    title: data.Heading,
                    text:
                        "<h4 class='gritter'>" +
                            data.Name +
                            "</h4>" +
                            "<span>Total Number of Sites: " +
                            data.SiteCount.format() +
                            "</span>" +
                            "<p>Total Number of Patients: " +
                            data.PatientTotal.format() +
                            "</p>",
                    sticky: false,
                    image: "assets/img/apin-weblogo.png",
                    before_open: function() {
                        if (5 === $(".gritter-item-wrapper").length) return false;
                        return true;
                    }
                }), false;
            else if (data.SiteId > 0)
                return $.gritter.add({
                    title: data.Heading,
                    text:
                        "<h4 class='gritter'>" +
                        data.Name +
                        "</h4>" +
                        "<p>State: " +
                        data.Location +
                        "</p>" +
                        "<h4 class='gritter'><span class='fa fa-users'></span>&nbsp;<strong>" +
                        data.PatientTotal.format() +
                        "</strong></h4>",
                    sticky: false,
                    image: "assets/img/apin-weblogo.png",
                    before_open: function() {
                        if (5 === $(".gritter-item-wrapper").length) return false;
                        return true;
                    }
                }), false;
            return $.gritter.add({
                    title: data.Heading,
                    text:
                        "<h4 class='gritter'>Invalid Selection</h4>",
                    sticky: false,
                    image: "assets/img/apin-weblogo.png",
                    before_open: function() {
                        if (5 === $(".gritter-item-wrapper").length) return false;
                        return true;
                    }
                }), false;
        };

        function secondaryBioDataStatsRequest() {
            window.api("GET",
                "@Url.Action("SecondaryBioDataStats", "Indicators", new {area = "ServerCommunication"})",
                null,
                true,
                secondaryBioDataStatsResponse);
        }

        function secondaryBioDataStatsResponse(data) {
            $('#totalToday_p').text(data.Counts.Today.format());
            $('#totalThisMonth_p').text(data.Counts.ThisMonth.format());
            $('#totalNotOptimal_p').text(data.Counts.NotOptimalPopulation.format());
            $('#averageScore_p').text(data.Score.Average.format() + "%");
            $('#maxScore_p').text(data.Score.Max.format() + "%");
            $('#minScore_p').text(data.Score.Min.format() + "%");
        };

        function sectionLoad() {
            secondaryBioDataStatsRequest();
        };

        pdaWeb.controller('pdaWebCtrlr',
            function($scope) {});
    </script>
}
