
@{
    ViewBag.Title = "Dashboard";
    ViewBag.TitleDesc = "APIN PDA at a glance";
    Layout = "~/Views/Shared/_LayoutSecure.cshtml";
}

@section styles{
    <link href="/Assets/plugins/country/nigeria/jsmaps/jsmaps.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-black-darker">
            <div class="stats-icon"><i class="fa fa-user-md"></i></div>
            <div class="stats-info">
                <h4>TOTAL PATIENTS</h4>
                <p id="totalPatents_p">00</p>
            </div>
            <div class="stats-link">
                <a href="@Url.Action("PatientOverview", "PatientManagement", new {area = ""})">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-orange-darker">
            <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
            <div class="stats-info">
                <h4>SEEN RECENTLY (PAST WEEK)</h4>
                <p id="seenPastWeek_p">00</p>
            </div>
            <div class="stats-link">
                <a>Visited at Least Once in the Past Week <i class="fa fa-info"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-blue-darker">
            <div class="stats-icon"><i class="fa fa-edit"></i></div>
            <div class="stats-info">
                <h4>REGISTERED TODAY</h4>
                <p id="registeredToday_p">00</p>
            </div>
            <div class="stats-link">
                <a>Total Registrations Today <i class="fa fa-info"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-green-darker">
            <div class="stats-icon"><i class="fa fa-shield"></i></div>
            <div class="stats-info">
                <h4>PATIENTS FULLY REGISTERED</h4>
                <p id="fullyRegistered_p">00</p>
            </div>
            <div class="stats-link">
                <a>Patients have both Biometric Profiles and eCard <i class="fa fa-info"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 ui-sortable">
        <div class="panel panel-inverse" data-sortable-id="ui-buttons-5">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-info"
                       data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title">Quick Facts by Dates:&nbsp;<span id="spanSelectedDate">Today</span><span id="spanLoading" class="pull-right pulse btn btn-xs btn-warning">Loading ...</span></h4>
            </div>
            <div class="panel-body" style="display: none">
                <div class="col-md-3 col-xs-12">
                    <div id="datepicker-inline" class="datepicker-full-width">
                        <div></div>
                    </div>
                </div>
                <div class="col-md-9 col-xs-12">
                    <div class="col-md-4 col-xs-12">
                        <div class="widget widget-stats bg-black-darker">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-users fa-fw"></i></div>
                            <div class="stats-title">All Patients</div>
                            <div class="stats-number" id="span_total_today">0</div>
                            <div class="stats-progress progress">
                                <div class="progress-bar" style="width: 100%;"></div>
                            </div>
                            <div class="stats-desc">Females: <span id="span_total_female_today">0</span> | Males: <span id="span_total_male_today">0</span></div>
                        </div>
                        <div class="widget widget-stats bg-blue-darker">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-bar-chart fa-fw"></i></div>
                            <div class="stats-title">Against Yesterday</div>
                            <div class="stats-number" id="span_percentage_difference">
                                0%
                            </div>
                            <div class="stats-progress progress">
                                <div class="progress-bar" style="width: 100%;"></div>
                            </div>
                            <div class="stats-desc">
                                <span id="indi_up"><i class="fa fa-chevron-up text-success"></i>&nbsp;Increase in Reported Cases</span>
                                <span id="indi_down"><i class="fa fa-chevron-down text-danger"></i>&nbsp;Decrease in Reported Cases</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <h4>Top Registrations in Nigeria</h4>
                        <div id="prgDiv">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="widget-chart with-sidebar bg-black">
            <div class="widget-chart-content">
                <h4 class="chart-title">
                    Patient Analytics
                    <small>Registration Distribution by Age Group</small>
                </h4>
                <div id="patient-age-distro" class="morris-inverse" style="height: 260px;">
                    <h4 class="alert alert-success">
                        <small>Processing data and analytics at the moment. Please wait</small>
                    </h4>
                </div>
            </div>
            <div class="widget-chart-sidebar bg-black-darker">
                <div class="chart-number">
                    <span id="most_polulated_ag_span">00</span>
                    <small>Most Populated Age Group: <strong id="most_polulated_ag_info_span"></strong></small>
                </div>
                <div class="chart-number">
                    <span id="least_polulated_ag_span">00</span>
                    <small>Least Populated Age Group: <strong id="least_polulated_ag_info_span"></strong></small>
                </div>
                <div id="sex-distro-donut-chart" style="height: 160px"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-inverse" data-sortable-id="index-1">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Total Population by State
                </h4>
            </div>
            <div id="visitors-map" class="bg-black">
                <div class="jsmaps-wrapper" id="nigeria-map" style="height: 175px; width: 175px; padding: 2px">

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="widget-chart with-sidebar bg-black">
            <div class="widget-chart-content">
                <h3 class="chart-title">
                    State Name: 
                    <span id="selected_state_name_span"></span>
                    <small>
                        Sites:&nbsp;<span id="state_sites_span">00</span>
                    </small>
                    <small>
                        Total Patients:&nbsp;<span id="total_patients_span"></span>
                    </small>
                    <small>
                        Average Patient/Site:&nbsp;<span id="average_patient_span">00</span>
                    </small>
                </h3>
                <hr/>
				<div class="col-md-6">
					<div class="widget widget-stats bg-blue-darker">
						<div class="stats-icon"><i class="fa fa-shield"></i></div>
						<div class="stats-info">
							<h4>Registered Bio-Data</h4>
							<p><span id="state_reg_bio_span">0</span></p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="widget widget-stats bg-red-darker">
						<div class="stats-icon"><i class="fa fa-tag"></i></div>
						<div class="stats-info">
							<h4>Issued e-Cards</h4>
							<p><span id="state_reg_nfc_span">0</span></p>
						</div>
					</div>
				</div>
            </div>
            <div class="widget-chart-sidebar bg-black-darker">

            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="/Assets/plugins/country/nigeria/jsmaps/jsmaps-libs.js" type="text/javascript"></script>
    <script src="/Assets/plugins/country/nigeria/jsmaps/jsmaps-panzoom.js"></script>
    <script src="/Assets/plugins/country/nigeria/jsmaps/jsmaps.js" type="text/javascript"></script>
    <script src="/Assets/plugins/country/nigeria/maps/nigeria.js" type="text/javascript"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            window.swalInfo('Loading Data and Analytics...');
            pageLoad();

            $('#nigeria-map').JSMaps({
                map: 'nigeria',
                disableToolTip: true,
                onStateClick: stateClick
            });

            $("#datepicker-inline").datepicker({
                todayHighlight: true,
                endDate: "@DateTime.Now.ToString("MM/dd/yyyy")"
            }).on('changeDate',
                function (ev) {
                    $('#spanSelectedDate').text($('#datepicker-inline').data('datepicker').getFormattedDate('mm/dd/yyyy'));
                    $('#spanLoading').show();
                    var date = $('#datepicker-inline').data('datepicker').getFormattedDate('mm/dd/yyyy');
                    loadPatientStatsByDateApi(date);
                });
        });

        function loadPatientStatsByDateApi(date) {
             window.api("GET",
                        "@Url.Action("PatientStatsByDate", "Indicators", new {area = "ServerCommunication"})?date=" + date,
                        null,
                        true,
                loadPatientStatsByDate);
        }

        function loadPatientStatsByDate(data) {
            $('#spanLoading').hide();

            $('#span_total_today').text(data.TotalPatients.format());
            $('#span_total_male_today').text(data.MalePatients.format());
            $('#span_total_female_today').text(data.FemalePatients.format());
            $('#span_percentage_difference').text(data.ChangeOverYesterday.format() + "%");

            if (data.ChangeOverYesterday > 0) {
                $('#indi_up').show();
                $('#indi_down').hide();
            } else {
                $('#indi_up').hide();
                $('#indi_down').show();
            }

            var progressData = "";
            if (data.TotalPatients === 0) {
                $('#prgDiv').html("<h3 class='text-warning'><i class='fa fa-warning'></i>&nbsp;No Data for this Date<br /><small>Please select another date</small></h3>");
                return;
            }

            $.each(data.HighSitesInfo,
                function (i, datum) {
                    var rowData =
                        "<h3 class='text-info'>" + datum.State.StateName + "<br /><small>" + datum.Metric.Site.SiteNameOfficial + "</small></h3>";
                    rowData += '<div class="progress progress-striped active">';
                    rowData += "<div class=\"progress-bar progress-bar-danger\" style=\"width: " +
                        datum.Metric.PercentOverGlobal.format() +
                        "%\">" +
                        datum.Metric.SiteMetric.Count.format() +
                        "</div>";
                    rowData += "</div>";

                    progressData += rowData;
                });

            $('#prgDiv').html(progressData);
        };

        function stateClick(data) {
            window.api("GET",
                "@Url.Action("StateStatsByStateAbb", "Indicators", new {area = "ServerCommunication"})?abbreviation=" + data.abbreviation,
                null,
                true,
                loadStateData);
        }

        function loadStateData(data) {
            $('#selected_state_name_span').text(data.State.StateName);
            $('#total_patients_span').text(data.PatientsInState.format());
            $('#state_sites_span').text(data.SitesInState.format());
            $('#average_patient_span').text(data.Average.format(2));
			
            $('#state_reg_bio_span').text(data.CollectedBioData.format());
            $('#state_reg_bio_span').text(data.CollectedNfcData.format());
        };

        function pageLoad() {
            window.api("GET",
                "@Url.Action("PatientStats", "Indicators", new {area = "ServerCommunication"})",
                null,
                true,
                loadTiles);

            var date = '@DateTime.Now.Date.ToString("mm/dd/yyyy")';
            loadPatientStatsByDateApi(date);

            $('#indi_up').hide();
            $('#indi_down').hide();
        };

        function loadTiles(data) {
            $('#totalPatents_p').text(data.TotalPatients.format());
            $('#seenPastWeek_p').text(data.SeenRecently.format());
            $('#registeredToday_p').text(data.RegisteredToday.format());
            $('#fullyRegistered_p').text(data.Complied.format());

            window.api("GET",
                "@Url.Action("GetAgeDistro", "Indicators", new {area = "ServerCommunication"})",
                null,
                true,
                loadPatientDistro);
        };

        function loadPatientDistro(data) {
            $('#patient-age-distro').html("");

            lineChartOneToOne("patient-age-distro",
                data.Distro,
                "Patient's in Group",
                function(index, options, content) {
                    var datum = options.data[index];
                    content =
                        "<div class='morris-hover-row-label'>Age Group " +
                        datum.x +
                        " years</div><div class='morris-hover-point' style='color: #ddd'>";
                    content += "Number of Patients:";
                    content += "" + datum.y.format() + "";
                    content += "</div >";
                    return (content);
                });

            $('#most_polulated_ag_info_span').text(data.Max.x);
            $('#most_polulated_ag_span').text(data.Max.y.format());
            $('#least_polulated_ag_info_span').text(data.Min.x);
            $('#least_polulated_ag_span').text(data.Min.y.format());

            donutChart("sex-distro-donut-chart", data.SexDistro);
        };

        pdaWeb.controller('pdaWebCtrlr',
            function($scope) {});
    </script>
}
